stages:
  - build
  - deploy

build:
  stage: build
  image: node:latest
  script:
    - cd frontend
    - npm install
    - npm run build
    - ls -la
  artifacts:
    paths:
      - frontend/dist/frontend/browser

upload_to_s3:
  stage: deploy
  needs:
    - build
  image: amazon/aws-cli
  script:
    - aws --version
    - cd frontend/dist/frontend/browser
    - ls -la
    - aws s3 cp . s3://$AWS_S3_BUCKET/ --recursive